ul{
    list-style-type: none;
}
li{
    display: inline;
    margin: 13px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(236, 237, 237, 0.904);
    text-align: center;
}
.month_list{
    margin: 19px;
    padding: 10px;
    color: rgba(146, 155, 152, 0.979);
    font-size: 17px;
    letter-spacing: 1.5px;
}
.week_list{
    font-size: 19px;
    letter-spacing: 1px;
}
.week_list li{
   padding-top: 20px;
   margin: 37px;
}
.days{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}
.days0 li{
    margin: 52px;
}
.days1 li{
    margin: 46px;
}
.days2 li{
    margin: 47px;
}
.days3 li{
    margin: 47px;
}
.days4 li{
    margin: 51px;
}
.days1 li .active{
padding: 7px;
background-color: red;
color: white;
border-radius: 9px;
}